DISCORD_TOKEN=
TEST_DISCORD_TOKEN=

# Tweet RSS URLs
NTE_TWEET_RSS_ZH=https://nitter.net/NTE_ZH/rss
NTE_TWEET_RSS_EN=https://nitter.net/NTE_GL/rss
NTE_TWEET_RSS_JP=https://nitter.net/NTE_JP/rss

# Webhook URLs (optional)
ERRWEBHOOK=
CMDWEBHOOK=
JLWEBHOOK=
